.user-id {
    display: none;
}
#userForm {
    padding-bottom: 60px;
}
#lastRow {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #343A40;
    display: flex;
    justify-content: space-around;
    
    td {
        border: none;
    }
}